@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    color : #a5d6a7; /* Pastel green color for the heading */
}

.date-input {
    padding: 10px;
    border: 1px solid #a5d6a7; /* Pastel green border */
    border-radius: 5px;
    background-color: #1e1e1e; /* Dark input background */
    color: #e0e0e0; /* Light text */
}

.btn {
    padding: 10px 20px;
    background-color: #a5d6a7; /* Pastel green button */
    border: none;
    border-radius: 5px;
    color: #121212; /* Dark text */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #81c784; /* Darker pastel green on hover */
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e; /* Dark background for results */
    border: 1px solid #a5d6a7; /* Pastel green border */
    border-radius: 5px;
}